<!DOCTYPE html>
<html lang="en">
  <head>

  <script type="module">
    // Reference: https://evilmartians.com/chronicles/first-steps-with-ruby-wasm-or-building-ruby-next-playground
    // Reference: https://www.npmjs.com/package/@ruby/wasm-wasi
    // Reference: https://github.com/ruby/ruby.wasm/blob/main/docs/cheat_sheet.md

    import { DefaultRubyVM } from "https://cdn.jsdelivr.net/npm/@ruby/wasm-wasi@2.6.0/dist/browser/+esm";

    // For prebuilt ruby.wasm VM:
    //const response = await fetch("https://cdn.jsdelivr.net/npm/@ruby/3.3-wasm-wasi@2.6.0/dist/ruby+stdlib.wasm");
    //const module = await WebAssembly.compileStreaming(response);
    // For Locally-compiled Ruby.wasm VM:
    const response = await fetch("./packed_ruby.wasm");
    const module = await WebAssembly.compileStreaming(response);

    const { vm } = await DefaultRubyVM(module);

    window.rubyVM = vm;

    vm.eval(`
      require "/bundle/setup"
      require "js" # Needed even with /bundle/setup
      JS.global[:document].write "Hello, world!"
    `);

    const source = `
    def some_string()
      "Hello from Ruby Wasm!"
    end

    def do_print(s)
      JS.global[:document].write s
    end
    `
    vm.eval(source);
    const data = vm.eval(`some_string()`).toString();
    vm.eval(`do_print("${data}")`);
  </script>

  </head>
  <body>
    <div style="font-family: monospace; text-align: center; width: 100%">
      <h2 style="color: #b70000"></h2>
      <p style="color: #004c00"></p>
    </div>
  </body>
</html>

